In [1]:
import pandas as pd
import numpy as np

In [2]:
flight = pd.read_excel("E:/flight_unfucked.xlsx")
test = pd.read_excel("E:/test_unfucked.xlsx")

flight.drop("Unnamed: 0", inplace = True, axis = 1)
test.drop("Unnamed: 0", inplace = True, axis = 1)

- kamus_gender = {"M" : 0, "F" : 1, "None" : None}
- kamus_trip = {"trip" : 0, "round": 1, "roundtrip" : 2}
- kamus_service = {"ECONOMY" : 0, "BUSINESS": 1}
- kamus_tx = {"NO" : 0, "YES" : 1}
- kamus_airlines = {'33199710eb822fbcfd0dc793f4788d30': 0,
                  '0a102015e48c1f68e121acc99fca9a05': 1,
                  '6c483c0812c96f8ec43bb0ff76eaf716': 2,
                  'ad5bef60d81ea077018f4d50b813153a': 3,
                  'e35de6a36d385711a660c72c0286154a': 4,
                  '74c5549aa99d55280a896ea50068a211': 5,
                  '9855a1d3de1c46526dde37c5d6fb758c': 6,
                  '6872b49542519aea7ae146e23fab5c08': 7}

In [46]:
#changing visited_city and log trans into usable
temp = []
for value in flight["log_transaction"]:
    a = value.split(',')
    to_float = lambda x : [float(p) for p in x]
    a = to_float(a)
    temp.append(a)
flight["log_transaction"] = temp

temp = []
for value in test["log_transaction"]:
    a = value.split(',')
    to_float = lambda x : [float(p) for p in x]
    a = to_float(a)
    temp.append(a)
test["log_transaction"] = temp

temp = []
for value in flight["visited_city"]:
    a = value.split(',')
    temp.append(a)
flight["visited_city"] = temp

temp = []
for value in test["visited_city"]:
    a = value.split(',')
    temp.append(a)
test["visited_city"] = temp

Tipe data tiap kolom

- account_id identifier
- member duration days = nominal, menunjukkan jumlah
- gender non weighted binary
- trip nominal
- service class = ordinal, binary
- price = continue
- is tx promo = binary
- no_of_seats = nominal jumlah
- airlines_names = nominal
- hotel_id = parse ke binary
- visited_city = list string
- log_trans = list float

## ide feature

- berapa banyak kota yang dikunjungi?
- kota mulai?
- kota akhir?
- melalui kota x?
- apakah mengunjungi lebih dari n kota?
- mean log_trans
- repeat customer? (dari log_trans)
- is alone? (seat number)

In [34]:
#jumlah kota dikunjungi
temp = []
start = []
end = []
for i in flight["visited_city"]:
    temp.append(len(i))
    start.append(i[0])
    end.append(i[-1])

num_trans = []
mean_trans = []
for i in flight["log_transaction"]:
    num_trans.append(len(i))
    mean_trans.append(sum(i)/len(i))

is_alone = []

for i in flight["no_of_seats"]:
    if i > 1:
        is_alone.append(0)
    else:
        is_alone.append(1)

flight["is_alone"] = is_alone    
flight["num_visited"] = temp
flight["start"]= start
flight["end"] = end
flight["num_trans"] = num_trans
flight["mean_trans"] = mean_trans

In [47]:
air = pd.get_dummies(flight["airlines_name"].astype(str), prefix = "airlines")
flight.drop("airlines_name", axis = 1, inplace = True)

In [48]:
flight.corr()

,account_id,member_duration_days,gender,trip,service_class,price,is_tx_promo,no_of_seats,hotel_id
account_id,1.000000,-0.130931,0.029454,0.010038,-0.018714,0.015287,-0.045418,0.049270,-0.003923
member_duration_days,-0.130931,1.000000,-0.004920,-0.037326,0.018941,-0.028740,0.104160,-0.040714,0.032732
gender,0.029454,-0.004920,1.000000,0.027394,-0.006459,-0.008207,0.105608,-0.010275,0.013790
trip,0.010038,-0.037326,0.027394,1.000000,-0.004935,0.323294,0.087873,0.009103,0.031024
service_class,-0.018714,0.018941,-0.006459,-0.004935,1.000000,0.129852,0.015156,-0.017563,-0.000057
price,0.015287,-0.028740,-0.008207,0.323294,0.129852,1.000000,-0.041420,0.712863,0.017619
is_tx_promo,-0.045418,0.104160,0.105608,0.087873,0.015156,-0.041420,1.000000,-0.096128,0.100512
no_of_seats,0.049270,-0.040714,-0.010275,0.009103,-0.017563,0.712863,-0.096128,1.000000,0.025740
hotel_id,-0.003923,0.032732,0.013790,0.031024,-0.000057,0.017619,0.100512,0.025740,1.000000